.top-wrapper{
    text-align: center;
}

.icon-holder{
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}

.icon-holder i{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    transition: 1s;
    
}
.icon-holder i:hover{
    transform: scale(1.1);
    transition: 1s;
    color: aquamarine;
}